__pycache__/
.pytest_cache/
.iketan_env/
.vscode/
.idea/
.old/
temp/
*.log
*.pyc
*.ign.py
.env
.detaignore
Dockerfile
modules/extensions/_x_climates.ign.py
modules/extensions/components/_m_pixiv.ign.py
modules/extensions/components/_m_poke.ign.py